body {
    margin: 0;
    cursor: url('../img/aim.cur'), auto;
    color:whitesmoke; /* Vermelho */
    text-shadow: 5px 5px #191C1F; /* Sombra preta */
    @import url("https://fonts.cdnfonts.com/css/chinese-rocks");
    font-family: 'Chinese Rocks Rg', sans-serif;
    background-image: url('../img/controls.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
}

#controls{
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: #222; /* Cor da tinta */
    text-shadow: none;
   
}

#back-button{
    position: absolute;
    top: 2%;
    left: 0%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #EE0000; /* Vermelho */
    opacity: 0.1;
    cursor: pointer;
}


#back-button:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}


h4{
    margin-bottom: 1px;
 
}

ul{
  margin-top: 5px;
}
li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
   
    font-size: 20px;
}