body {
    margin: 0;
    cursor: url('../img/aim.cur'), auto;
    color: #EE0000; /* Vermelho */
    text-shadow: 2px 1px #191C1F; /* Sombra preta */
    @import url("https://fonts.cdnfonts.com/css/chinese-rocks");
    font-family: 'Chinese Rocks Rg', sans-serif;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
  }

@keyframes shot {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
  }


#back-button{
    position: absolute;
    top: 2%;
    left: 0%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #EE0000; /* Vermelho */
    opacity: 0.5;
    cursor: pointer;
}


#back-button:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}
#instruction {
    animation: blink 1s infinite;
    position: absolute;
    top : 50%;
    left: 40%;
    font-size: 20px;
}


#bullet{
    position: absolute;
    top: 85%;
    right: 9%;
    width: 10%;
    height: 10%;
  
  
}

#score{
    position: absolute;
    top: 5%;
    right: 9%;
    font-size: 30px;
}


#n_bullets{
    position: absolute;
    top: 87%;
    right: 10%;
    font-size: 30px;
}

#left{
    position: absolute;
    top: 30%;
    left: 9%;
    font-size: 50px;
    opacity: 0.1;

}


#right{
    position: absolute;
    top: 30%;
    right: 9%;
    font-size: 50px;
    opacity: 0.1;

}


#targets_count{
    position: absolute;
    top: 87%;
    left: 9%;
    font-size: 30px;
}

#level{
    position: absolute;
    top: 5%;
    left: 9%;
    font-size: 30px;
}


.progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

#progress-bar {
    width: 30%;
    height: 10%;
    margin-top: 0.5%;
    transition: width 1s ease;
  
    
}


label {
    font-size: 20px;
    animation: 1s blink infinite;
   
}


#timer{
    position: absolute;
    top:12%;
    right: 11%;
    font-size: 30px;

}

#clock{
    position: absolute;
    top: 12%;
    right: 9%;
}

#Health{
    position: absolute;
    top: 5%;
    left: 42%;
    font-size: 30px;
    opacity: 0;
    font-size: 40px;
}


  
