body{
    margin: 0;
    color: white; /* Vermelho */
    text-shadow: 5px 5px #191C1F; /* Sombra preta */
    @import url("https://fonts.cdnfonts.com/css/chinese-rocks");
    font-family: 'Chinese Rocks Rg', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#title{
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 50px;
   

  
}


#buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    top: 40%;
    left: 45%;
    
  
}


button{
    background-color: wheat; /* Vermelho */
    color: black; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
   text-shadow: 2px 1px wheat; /* Sombra preta */
}


button:hover{
    background-color: #191C1F; /* Preto */
    color: #EE0000; /* Vermelho */
    transform: scale(1.1);
    transition: 0.5s;
    text-shadow: 2px 1px #191C1F; /* Sombra preta */
}


