body {
    margin: 0;
    cursor: url('../img/aim.cur'), auto;
    color: #EE0000; /* Vermelho */
    text-shadow: 2px 1px #191C1F; /* Sombra preta */
    @import url("https://fonts.cdnfonts.com/css/chinese-rocks");
    font-family: 'Chinese Rocks Rg', sans-serif;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
  }

#view{
    animation: blink 1s infinite;
    position: absolute;
    top : 5%;
    left: 40%;
    font-size: 50px;
}


#auto-rotate{
    position: absolute;
    top: 13%;
    left:43%;
}

#back-button{
    position: absolute;
    top: 2%;
    left: 0%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #EE0000; /* Vermelho */
    opacity: 0.5;
    cursor: pointer;
}


#back-button:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}


#level-buttons{
    position: absolute;
    top: 80%;
    left: 40%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.level-button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #EE0000; /* Vermelho */
    text-shadow: 2px 1px #191C1F; /* Sombra preta */
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid black;
}




.level-button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: black;
    color: #EE0000; /* Vermelho */
}

#level2{
    opacity: 0.5;
}

#level3{
    opacity: 0.5;
}

#level4{
    opacity: 0.5;
}

.progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

#progress-bar {
    width: 30%;
    height: 10%;
    margin-top: 0.5%;
    transition: width 1s ease;
  
    
}


.progress-bar-container label {
    font-size: 20px;
    animation: 1s blink infinite;
   
}


#ambient-modes{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    top: 10%;
    right: 10%;
    gap : 50px;

}

.toggle-ambient-mode{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   

}

#rain-snow{
    opacity: 0;
}







.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;;
    -webkit-transition: .4s;
    transition: .4s;
  }



  
  input:checked + .slider {
    background-color: #EE0000;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #EE0000;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  #moon{
    opacity: 0.5;
  }

  #rain{
    opacity: 0.5;
  }

  

